.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.card{
    width: 200px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    text-align: center;
    transition: transform 0.2s;
}

.card h2{
    font-size: 20px;
    color: hsl(0, 1%, 31%);
}

.card p{
    font-size: 18px;
}

.card button{
    padding: 4px 8px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #383838);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    color: white;
    transition: height 0.5s ease-in-out;
}

.card:hover .layer{
    height: 100%;
}


.layer h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    max-width: 90%;
    overflow: hidden;
   
}

.layer p{
    font-size: 12px;
    max-width: 90%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f ;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.layer button {
    margin-top: 10px;
    background: white;
    color: #ff004f;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s ease;

}

.product-image{
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
    background-color: white;

}

.container {
    max-width: 1200px;
}

.form-select,
.form-control {
    min-width: 150px;
}

.btn-link {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Hover-effekt för kort */
.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05); /* Gör kortet lite större */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Lägg till en skugg-effekt */
  }